{% load currency_filters %}
{% load i18n %}
<div>
{% if select_form %}
<h2>{% trans "Choose counter-agent" %}</h2>
<form action="." method="post" class="form-stacked">
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                {% csrf_token %}
                {{ select_form.non_field_errors }}

					{% for field in select_form %}
	                {% include 'partials/form_field.html' with field=field %}
	                {% endfor %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-large btn-primary pull-right">{% trans "This company pays always!" %}</button>
</form>
{% endif %}
{% if create_form %}
<h2>{% trans "create another one!" %}</h2>
<form action="." method="post" class="form-stacked">
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                {% csrf_token %}
                {{ create_form.non_field_errors }}

					{% for field in create_form %}
	                {% include 'partials/form_field.html' with field=field %}
	                {% endfor %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-large btn-primary pull-right">{% trans "Save and go on!" %}</button>
</form>
{% endif %}
</div>