{% load i18n %}
{% load currency_filters %}

<!doctype html>
<html>
<head>
    <title>Invoice {{ invoice.number }} generated: {{ date_printed }} for user {{ user.username }} #{{ user.id }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        body { width: 210mm; margin-left: auto; margin-right: auto; border: 1px #efefef solid; font-size: 11pt;}
        table.invoice_bank_rekv { border-collapse: collapse; border: 1px solid; }
        table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td { border: 1px solid; }
        table.invoice_items { border: 1px solid; border-collapse: collapse;}
        table.invoice_items td, table.invoice_items th { border: 1px solid;}
    </style>
</head>
<body>
<table width="100%">
    <tr>
        <td>&nbsp;</td>
        <td style="width: 155mm;">
            <div style="width:155mm; ">Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате  обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.</div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="text-align:center;  font-weight:bold;">
                Образец заполнения платежного поручения                                                                                                                                            </div>
        </td>
    </tr>
</table>


<table width="100%" cellpadding="2" cellspacing="2" class="invoice_bank_rekv">
    <tr>
        <td colspan="2" rowspan="2" style="min-height:13mm; width: 105mm;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="height: 13mm;">
                <tr>
                    <td valign="top">
                        <div>{{ invoice.partner_person.bank_accounts.all.0.bank }}</div>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" style="height: 3mm;">
                        <div style="font-size:10pt;">Банк получателя</div>
                    </td>
                </tr>
            </table>
        </td>
        <td style="min-height:7mm;height:auto; width: 25mm;">
            <div>БИK</div>
        </td>
        <td rowspan="2" style="vertical-align: top; width: 60mm;">
            <div style=" height: 7mm; line-height: 7mm; vertical-align: middle;">{{ invoice.partner_person.bank_accounts.all.0.bank.bic }}</div>
            <div>{{ invoice.partner_person.bank_accounts.all.0.bank.correspondent_account }}</div>
        </td>
    </tr>
    <tr>
        <td style="width: 25mm;">
            <div>Сч. №</div>
        </td>
    </tr>
    <tr>
        <td style="min-height:6mm; height:auto; width: 50mm;">
            <div>ИНН {{ invoice.partner_person.bank_accounts.all.0.bank.person.vatin }}</div>
        </td>
        <td style="min-height:6mm; height:auto; width: 55mm;">
            <div>КПП {{ invoice.partner_person.bank_accounts.all.0.bank.person.reason_code }}</div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 25mm;">
            <div>Сч. №</div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 60mm;">
            <div>{{ invoice.partner_person.bank_accounts.all.0.settlement_account }}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="min-height:13mm; height:auto;">

            <table border="0" cellpadding="0" cellspacing="0" style="height: 13mm; width: 105mm;">
                <tr>
                    <td valign="top">
                        <div>{{ invoice.partner_person }}</div>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" style="height: 3mm;">
                        <div style="font-size: 10pt;">Получатель</div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<br/>

<div style="font-weight: bold; font-size: 16pt; padding-left:5px;">
    Счет № {{ invoice.number }} от {{ invoice.date_updated|date:"SHORT_DATE_FORMAT" }}</div>
<br/>

<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>

<table width="100%">
    <tr>
        <td style="width: 30mm;">
            <div style=" padding-left:2px;">Поставщик:    </div>
        </td>
        <td>
            <div style="font-weight:bold;  padding-left:2px;">
                {{ invoice.partner_person }}, ИНН {{ invoice.partner_person.vatin }},
                КПП {{ invoice.partner_person.reason_code }}, адрес: {{ invoice.partner_person.legal_address }}
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 30mm;">
            <div style=" padding-left:2px;">Покупатель:    </div>
        </td>
        <td>
            <div style="font-weight:bold;  padding-left:2px;">
                {%  if invoice.person %}
                {{invoice.person }}, ИНН {{ invoice.person.vatin }},
                КПП {{ invoice.person.reason_code }}, адрес: {{ invoice.person.legal_address }}
                {% else %}
              {{ invoice.user.get_full_name }}({{ invoice.user.email }})  
                {% endif %}
             </div>
        </td>
    </tr>
</table>


<table class="invoice_items" width="100%" cellpadding="2" cellspacing="2">
    <thead>
    <tr>
        <th style="width:13mm;">№</th>
        <th style="width:20mm;">Код</th>
        <th>Товар</th>
        <th style="width:20mm;">Кол-во</th>
        <th style="width:17mm;">Ед.</th>
        <th style="width:27mm;">Цена</th>
        <th style="width:27mm;">Сумма</th>
    </tr>
    </thead>
    <tbody >
    	{% for line in invoice.order.lines.all %}
		<tr><td align="center">{{ forloop.counter }}</td>
			<td align="left">{{ line.upc|default:"-" }}</td>
			<td align="left">{{ line.title }}</td>
			<td align="right">{{ line.quantity }}</td>
			<td align="left">шт</td>
			<td align="right">{{ line.unit_price_incl_tax|currency:invoice.order.currency }}</td>
			<td align="right">{{ line.line_price_incl_tax|currency:invoice.order.currency }}</td></tr>
			{% if forloop.last and invoice.order.shipping_incl_tax > 0 %}
				<tr><td align="center">{{ forloop.counter|add:"1" }}</td>
				<td align="left">-</td>
				<td align="left">Доставка</td>
				<td align="right">-</td>
				<td align="left">-</td>
				<td align="right">{{ invoice.order.shipping_incl_tax|currency:invoice.order.currency }}</td>
				<td align="right">{{ invoice.order.shipping_incl_tax|currency:invoice.order.currency }}</td></tr>
			{% endif %}
		{% endfor %}  
	</tbody>
</table>

<table border="0" width="100%" cellpadding="1" cellspacing="1">
    <tr>
        <td></td>
        <td style="width:27mm; font-weight:bold;  text-align:right;">Итого:</td>
        <td style="width:27mm; font-weight:bold;  text-align:right;">{{ invoice.order.total_incl_tax|currency:invoice.order.currency }}</td>
    </tr>
        <td colspan="2" style="font-weight:bold;  text-align:right;">В том числе НДС:</td>
        <td style="width:27mm; font-weight:bold;  text-align:right;">НДС не облагается</td>
</table>

<br />
<div>
Всего наименований {{ forloop.counter }} на сумму {{ invoice.order.total_incl_tax|currency:invoice.order.currency }}<br />
{# price_to_words for russian numbers #}</div>
<br /><br />
<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
<br/>

<div>{{ invoice.partner_person.chief_title }} _______________ ({{ invoice.partner_person.chief_name }}) Главный бухгалтер _______________ ({{ invoice.partner_person.accountant_name }})</div>
<br/>
<div style="width: 85mm;text-align:center;">М.П.</div>
<br/>
<div style="width:800px;text-align:left;font-size:10pt;">Счет действителен к оплате в течении трех дней.</div>
</body>
</html>
